body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #EFD9CE;
    color: #555;
}

.cupcake {
    display: flex;
}

.flex1 {
    /* flex : 1 */
}

.flex2 {
    flex : 2
}

.pl1 {
    padding-left: 1em;
}

.img {
    align-self: flex-start;
    height: auto; 
    max-width: 100%;
}


.cupcake_box {
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
}

.cupcake1 {
    background-color: #DEC0F1;
}

.cupcake2 {
    background-color:  #B79CED;
}

.cupcake3 {
    background-color:  #957FEF;
}

.blue {
    background-color: #7161EF;
}